absl-py==2.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
filelock==3.14.0
fsspec==2024.5.0
h5py==3.11.0
huggingface-hub==0.23.0
idna==3.7
keras==3.3.3
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.4.0
namex==0.0.8
numpy==1.26.4
optree==0.11.0
packaging==24.0
Pygments==2.18.0
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
rich==13.7.1
safetensors==0.4.3
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.41.0
typing_extensions==4.11.0
urllib3==2.2.1
